<mat-toolbar color="primary">
  使用 RxJS and HttpInterceptor 來實現 "資料讀取中..." 動畫效果的功能
</mat-toolbar>
<div class="content">
  <!-- <button mat-raised-button (click)="showSpinner()">顯示</button>
  <button mat-raised-button color="warn" (click)="hideSpinner()">隐蔵</button> -->
  <button mat-raised-button color="primary" (click)="getData()">取得資料</button>
</div>  

<!-- <mat-spinner *ngIf="loading$ | async"></mat-spinner> -->
<ng-container *ngIf="loading$ | async">
    <div class="overlay"></div>
    <mat-spinner></mat-spinner>
</ng-container>